
    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="row">
                    {% if site.data.global.twitter_username %}
                      <div class="col-md-8 col-md-push-12">
                        <a href="https://twitter.com/{{ site.data.global.twitter_username }}">
                          <i class="fa fa-twitter"></i> Twitter
                        </a>
                      </div>
                    {% endif %}

                    {% if site.data.global.github_username %}
                      <div class="col-md-6 col-md-push-12">
                        <a href="https://github.com/{{ site.data.global.github_username }}">
                          <i class="fa fa-github"></i> Github
                        </a>
                      </div>
                    {% endif %}

                    {% if site.data.global.url %}
                      <div class="col-md-12 col-md-pull-8">
                        <a href="{{ site.data.global.url }}/feed.xml">
                          <i class="fa fa-rss"></i>© Kirby James
                        </a>
                      </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </footer>


    <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ site.data.global.url }}/js/power.js"></script>

    </body>
</html>
